<div class="flex w-full p-2">
  <div class="w-1/2">
    <div>
      <h1 class="flex-1 h-12 text-lg inline-block">Album: {{this.model.name}}</h1>
      <button
        {{on "click" (fn (mut this.isAddingSong) true)}}
        data-test="add-song-button"
        class="flex-1 bg-white border-2 border-blue-300 text-blue-300 rounded-lg px-4 py-2 inline ml-8"
      >
        <i class="fas fa-plus"></i>
      </button>
      <hr>
    </div>

    <h2 class="ml-2 mt-6">Album Songs:</h2>
    <ul class="ml-2">
      {{#each this.model.songs as |song|}}
        <li>
          <button
            type="button"
            data-test="song-{{song.id}}-button"
            {{on "click" (fn this.selectSong song)}}
          >
            {{song.name}}
          </button>
        </li>
      {{/each}}
    </ul>

    {{#if this.isAddingSong}}
      <div class="mt-2">
        <form {{on "submit" this.saveSong}}>
          <label class="block">Song Name:</label>
          <Input
            type="text"
            @value={{this.newSongName}}
            placeholder={{this.newSongName}}
            data-test="new-song-name-input"
            class="w-full rounded p-2 m-2 border-2 border-blue-300"
          />

          <label class="block">Song Lyrics:</label>
          <Textarea
            @value={{this.newSongLyrics}}
            placeholder={{this.newSongLyrics}}
            class="w-full rounded p-2 m-2 border-2 border-blue-300"
          />

          <div class="block flex justify-center">
            <button
              {{on "click" (fn (mut this.isAddingSong) false)}}
              type="button"
              class="inline bg-grey-200 rounded-lg m-2 px-4 py-2"
            >
              Cancel
            </button>
            <button
              type="submit"
              data-test="save-new-song-button"
              class="inline bg-blue-300 rounded-lg m-2 px-4 py-2 text-white"
            >
              Add
            </button>
          </div>
        </form>
      </div>
    {{/if}}
  </div>

  <div class="w-1/2">
    {{#if this.selectedSong}}
      <Song @model={{this.selectedSong}} />
    {{else}}
      <h2 class="h-12 w-full px-4 my-1">No song selected.</h2>
      <hr>
    {{/if}}
  </div>
</div>